@import url('https://fonts.googleapis.com/css2?family=Genos:wght@200;400;600&family=Manjari:wght@100;400;700&family=Manrope:wght@200;400;600&display=swap');
.container{
  display:flex;
  justify-content:center;
  align-items:center;
  min-height:100vh;
  background:#101010;
}

.form{
  width:500px;
  padding:30px;
  border: 2px solid rgb(234, 234, 234);
  background:rgb(46, 46, 46);
  border-radius:10px;
  box-shadow:0 5px 20px rgba(0,0,0,0.1);
  display:flex;
  flex-direction:column;
  font-family: "Manrope", sans-serif;

}

.form h2{
  text-align:center;
  margin-bottom:20px;
  font-family: "Genos", sans-serif;
  font-size: x-large;
  font-weight: bolder;
}

.form input{
  margin-bottom:10px;
  padding:10px;
  border:1px solid #ddd;
  border-radius:6px;
  font-family: "Manrope", sans-serif;

}

.form button{
  padding:10px;
  border:none;
  background:#28a745;
  color:white;
  border-radius:6px;
  cursor:pointer;
}

.form span{
  color:#4a6cf7;
  cursor:pointer;
}

.form p{
  text-align:center;
  margin-top:10px;
}


.formGrid{
  display:grid;
  grid-template-columns: 1fr 1fr;
  gap:15px;
}

.inputGroup{
  display:flex;
  flex-direction:column;
}

.inputGroup label{
  margin-bottom:5px;
  font-weight:500;
  font-weight: bold;
}

.inputGroup input{
  padding:10px;
  border:1px solid #ccc;
  border-radius:6px;
}

.fullWidth{
  grid-column: span 2;
}

/* Chrome, Safari, Edge */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.error{
  color:rgb(250, 83, 83) !important;
  font-size:13px;
  margin-top:4px;
}

