@import url('https://fonts.googleapis.com/css2?family=Genos:wght@200;400;600&family=Manjari:wght@100;400;700&family=Manrope:wght@200;400;600&display=swap');
.container{
  display:flex;
  justify-content:center;
  align-items:center;
  min-height:100vh;
  background:#101010;
}

.wrapper{
  display:flex;
  align-items:center;
  gap:80px;
}

.leftPanel{
  display:flex;
  flex-direction:column;
  align-items:center;
  text-align:center;
  color:white;
  max-width:370px;
}

.heroImage{
  margin-top:20px;
  border-radius:12px;
  width: 1000px;
}

.tagline{
  margin-top:20px;
  font-size:16px;
  color:#ccc;
  line-height:1.6;
  font-family: "Manrope", sans-serif;

}

.form{
  width:500px;
  padding:30px;
  border:2px solid rgb(234,234,234);
  background:rgb(46,46,46);
  border-radius:20px;
  display:flex;
  flex-direction:column;
  font-family: "Manrope", sans-serif;

}

/* GRID INPUT */

.formGrid{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:15px;
}

.fullWidth{
  grid-column:span 2;
}

/* MOBILE */

@media (max-width:768px){

  .wrapper{
    flex-direction:column;
    width:100%;
    gap:5px; 
  }

  .leftPanel{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    gap:14px;
    max-width:620px;
    width:90%;
  }

  .heroImage{
    width:120px;
    margin-top:20px;
    border-radius:12px;
  }

  .tagline{
    display:block;           
    font-size:14px;
    max-width:280px;
    color:#ccc;
    text-align:left;
    flex:1;
  }

  .form{
    width:90%;
    max-width:420px;
  }

  .formGrid{
    grid-template-columns:1fr;
  }

  .fullWidth{
    grid-column:span 1;
  }

}

.form h2{
  text-align:center;
  margin-bottom:20px;
  font-family: "Genos", sans-serif;
  font-size: x-large;
  font-weight: bolder;
}

.form input{
  margin-bottom:10px;
  padding:10px;
  border:1px solid #ddd;
  border-radius:6px;
  font-family: "Manrope", sans-serif;
  width:100%;
  padding:12px;
  max-width:100%;

}

.form button{
  padding:10px;
  border:none;
  border: 2px solid #ccc;
  background:#867f7f;
  color:white;
  border-radius:6px;
  cursor:pointer;
  font-weight: bold;
}
.form button:hover{
  background: #f49898;
}

.form span{
  color:#4a6cf7;
  cursor:pointer;
}

.form p{
  text-align:center;
  margin-top:10px;
}


.formGrid{
  display:grid;
  grid-template-columns: 1fr 1fr;
  gap:15px;
}

.inputGroup{
  display:flex;
  flex-direction:column;
}

.inputGroup label{
  margin-bottom:5px;
  font-weight:500;
  font-weight: bold;
}

.inputGroup input{
  padding:10px;
  border:1px solid #ccc;
  border-radius:6px;
}

.fullWidth{
  grid-column: span 2;
}

/* Chrome, Safari, Edge */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.error{
  color:rgb(250, 83, 83) !important;
  font-size:13px;
  margin-top:4px;
}


@media (max-width: 600px){

  .form{
    width:90%;
    padding:20px;
  }

  .formGrid{
    grid-template-columns: 1fr;
  }

  .fullWidth{
    grid-column: span 1;
  }

}