@import url('https://fonts.googleapis.com/css2?family=Genos:wght@200;400;600&family=Manjari:wght@100;400;700&family=Manrope:wght@200;400;600&display=swap');
.container{
  margin-top: 90px;
  padding:40px;
}

.title{
  font-size:30px;
  font-weight: bolder;
  margin-bottom:20px;
  font-family: Genos;
}

.table{
  width:100%;
  border-collapse:collapse;
}

.table th{
  background:#4b4949;
  padding:12px;
  border:1px solid #ddd;
  text-align:left;
  font-family: Genos;
  font-size: 19px;
}

.table td{
  padding:12px;
  border:1px solid #ddd;
  font-family: Manrope;
}

.table tr:hover{
  background:#545454;
}

.form{
  display:grid;
  grid-template-columns:repeat(2,300px);
  gap:15px;
  margin-bottom:25px;
  font-family: Manrope;
  font-weight: bold;
}

.inputGroup{
  display:flex;
  flex-direction:column;
  width: 300px;
}

.inputGroup label{
  font-size:14px;
  margin-bottom:4px;
}

.inputGroup input{
  padding:8px;
  border:1px solid #ccc;
  border-radius:5px;
}

.actions{
  display:flex;
  gap:8px;
}

.actions button{
  padding:5px 10px;
  border:none;
  border-radius:4px;
  cursor:pointer;
}

.deleteBtn{
  background:#e74c3c;
  color:white;
}

.editBtn{
  background:#5776f1;
  color:white;
}

.submitBtn{
  font-family: Genos;
  background:#287edf;
  color:white;
  border:none;
  border-radius:6px;
  cursor:pointer;
  font-size:14px;
  font-size: larger;
}

.submitBtn:hover{
  background:#0059c1;
}

.radioGroup {
  display: flex;
  gap: 12px;
  margin-top: 1px;
}

.radioGroup label {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.radioGroup label:hover {
  border-color: #0070f3;
}


.modalOverlay{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.5);
  display:flex;
  align-items:center;
  justify-content:center;
}

.modal{
  background:rgb(65, 65, 65);
  padding:30px;
  border-radius:8px;
  width:600px;
  font-family: Manrope;
}

.modal h2{
  font-family: Genos;
  font-weight: bold;
  font-size: 23px;
  background-color: #2d2d2d;
  border-radius: 5px;
  text-align: center;
}

.modalForm{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:15px;
  margin-top:20px;
}

.modalInputGroup{
  display:flex;
  flex-direction:column;
}

.modalInputGroup label{
  margin-bottom:5px;
  font-weight:600;
}

.modalInputGroup input{
  padding:10px 10px;
  border:1px solid #ccc;
  border-radius:4px;
  font-size:17px;
}

.modalRadioGroup{
  display:flex;
  gap:20px;
  margin-top:8px;
}

.modalActions{
  margin-top:20px;
  display:flex;
  gap:10px;
}

.saveBtn{
  background:#2ecc71;
  border:none;
  padding:10px 20px;
  color:white;
  cursor:pointer;
  border-radius: 10px;
  font-weight:bolder;
}

.cancelBtn{
  background:#e74c3c;
  border:none;
  padding:10px 20px;
  color:white;
  cursor:pointer;
  border-radius: 10px;
  font-weight:bolder;
}